.newsletter-heading {
  text-align: center;
}

#mc_embed_signup_scroll p {
  font-size: 18px;
  border-bottom: none;
  margin-bottom: 15px;
  text-align: center;
}

.emaildiv {
  background: none;
}

.response-custom {
  color: rgb(22, 140, 158);
}

.mce-responses-custom {
  width: 100% !important;
}

.cta-buy {
  z-index: 1102;
  position: fixed;
  left: 88%;
  top: 3%;
}

@media only screen and (max-width:500px) and (min-width: 250px){
  .cta-buy {
    left: 79%;
    top: 13%;
    width: 60px;
  }

  #logo {
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../img/TahLogo.png");
  background-repeat: no-repeat;
  background-size: 60px;
  height: 60px;
  left: 5.208%;
  position: fixed;
  top: 13%;
  width: 60px;
  z-index: 1101;
  visibility: hidden;
  }
}
