.newsletter-heading {
  text-align: center;
}

#mc_embed_signup_scroll p {
  font-size: 18px;
  border-bottom: none;
  margin-bottom: 15px;
  text-align: center;
}

.emaildiv {
  background: none;
}

.response-custom {
  color: rgb(22, 140, 158);
}

.mce-responses-custom {
  width: 100% !important;
}

.cta-buy {
  z-index: 1102;
  position: fixed;
  left: 83%;
  top: 3%;
}