/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Tah By RHC - CSS STYLES ==============================================
   Author: Sourabh Saraf - iAutomate.in
   ========================================================================== */

body {
  background-color: #fff;
  color: #333333;
  font-family: 'Quattrocento', serif;
}

img {
  vertical-align: middle;
}

.img-responsive{
  display: block;
  height: auto;
  max-width: 100%;
}

.img-center
{
margin:0 auto;
}

/* =General */
#logo {
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../img/TahLogo.png");
  background-repeat: no-repeat;
  background-size: 90px;
  height: 90px;
  left: 5.208%;
  position: fixed;
  top: 20px;
  width: 90px;
  z-index: 1101;
}

#progressBar {
  background-color: #0e7582;
  height: 0;
  width: 7px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
}
#offset {
  background-color: #333;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 1300;
}

.canvas {
  background-color: #fff;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
#main section {
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  height: 100%;
  padding-left: 5.208%;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.container {
  height: 100%;
  margin: 0 auto;
  max-width: 1440px;
  position: absolute;
  width: 94.7%;
}

.row {
  box-sizing: border-box;
  height: 100%;
  #padding-left: 30px;
  width: 100%;
  #position:absolute;
}

.absolum {
  position: fixed;
}

.opa{opacity:0;}
#animations {
  height: 12000px;
}

.col70p {
  width: 70%;
  float: left;
  box-sizing: border-box;
}

.col30p {
  width: 30%;
  float: left;
}

.bgMaster {
  background-color: #fff;
  float: left;
  height: 100%;
  left: 0;
  min-height: 2400px;
  min-width: 2400px;
  position: static;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  background-repeat:repeat-x;
  background-image:url('../img/invisible.png');
}
/* Preloader */

#preloader {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#fff; /* change if the mask should have another color then white */
  z-index:1300; /* makes sure it stays on top */
}

#status {
  width:300px;
  height:300px;
  position:absolute;
  left:50%; /* centers the loading animation horizontally one the screen */
  top:50%; /* centers the loading animation vertically one the screen */
  background-image:url("http://sierrafire.cr.usgs.gov/images/loading.gif"); /* path to your loading animation */
  background-repeat:no-repeat;
  background-position:center;
  margin:-100px 0 0 -100px; /* is width and height divided by two */
}
/* ==== Navigation ==== */
#navClick {
  background: url("../img/navbgtop.png") no-repeat scroll right top rgba(0, 0, 0, 0);
  border-left: 7px solid #112f41;
  float: left;
  height: 100%;
  position: fixed;
  width: 15px;
  z-index: 1101;
}
#navClick > img {
  bottom: 20px;
  position: fixed;
}
/* =====Animations Slides Starts=============================================*/
   
/* =Landing Page */
#landing {
  z-index: 1099;
}

.landinglogo {
  left: 0;
  padding: 100px 0 30px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
}

.tagline1 {
  left: 0;
  position: fixed;
  right: 0;
  top: 415px;
}

.logo-text1 {
  position: fixed;
  top: 495px;
  left: 0;
  right: 0;
}

.landinglogo img {
  margin: 0 auto;
}

.tagline1 p {
  color: #0e6f70 !important;
  font-family: 'Quattrocento', serif;
  font-size: 30px !important;
  line-height: 36px;
  margin-bottom: 30px;
  margin-top: 10px;
  text-align: center;
}

.logo-text1 {
  text-align: center;
}

.logo-text1 > p {
  color: #242424;
  font-family: 'Quattrocento', serif;
  font-size: 16px;
  line-height: 24px;
}

/* =Play */
.play {
  background-image: url('../img/playBG.png');
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: top left;
}

.playbg {
  background: url("../img/playBG.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.infobox {
  margin-right: 3.47%;
  max-width: 400px;
  position: fixed;
  top: 31.5%;
  width: 27.77%;
  z-index: 1002;
}

.canvas-mini {
  background-color: none;
  left: 40%;
  max-width: 730px;
  position: fixed;
  top: 25%;
  width: 52.08%;
}

.bottomhands {
  bottom: 0;
  max-width: 490px;
  position: fixed;
  right: 5.5%;
  width: 34.027%;
}

.monitor {
  left: 0;
  max-width: 380px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 50.66%;
}

.slidinghandTah {
  margin-left: 46.26%;
  margin-top: 5%;
  position: absolute;
  z-index: 1002;
}

.infobox h2 {
  color: #1b91a1;
  font-family: 'Quattrocento', serif;
  font-size: 75px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 75px;
  margin: 0;
  padding-bottom: 10px;
  text-transform: uppercase;
  z-index: 1002;
}

.infobox > p {
  color: rgba(48, 54, 66, 1) ;
  font-family: 'Quattrocento', serif;
  font-size: 23.66px;
  line-height: 30px;
  margin-bottom: 5px !important;
  margin-top: 6px;
  padding-bottom: 15px;  z-index: 1002;
}

.storebuttons {
  display: inline;
  margin-left: -5px;
  padding-left: 0;
}

.storebuttons li {
  display: inline;
  list-style: outside none none;
  margin-bottom: 0;
  width: auto;
}
/* =RGB */
.rgbaoverlay2{
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../img/lighteffect2.png");
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  max-height: 434px;
}

.rgbaoverlay1{
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../img/lighteffect1.png");
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  max-height: 434px;
}

.rgbaoverlay {
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../img/lighteffect.png");
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  max-height: 434px;
}

.rgbbg {
  background: url("../img/rgbBG.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.rgb .infobox > p {
  color: #fff !important;
}

.clickhand {
  right: 25%;
  position: fixed;
  bottom: 0;
}

.rgb .bottomhands {
  bottom: 0;
  max-width: 490px;
  position: fixed;
  right: 1.5%;
  width: 30.027%;
}
/* =Motion */
.motion .bottomhands {
  bottom: 0;
  max-width: 490px;
  position: fixed;
  right: 0;
  width: 34.027%;
}

/* =Sensor */
.canvas-mini-sensor {
  height: 69.5%;
  max-width: 960px;
  position: fixed;
  right: 0;
  width: 66.66%;
  max-height:460px;
}

.sensor .bottomhands {
  bottom: 0;
  max-width: 490px;
  position: fixed;
  right: 0;
  width: 34.027%;
  z-index:1002;
}
#musicsystem {
  height: 89.17%;
  top: 10.83%;
  position: relative;
}

.music {
  background-color: #ffcc00;
  height: 100%;
  left: 0;
  margin-right: 0.0364%;
  max-width: 395px;
  position: absolute;
  width: 41.14%;
}
#speaker {
  height: 102px;
  max-height: 52px;
  max-width: 102px;
  position: absolute;
  right: 0;
  top: 5.5%;
  width: 25.82%;
}

.boom {
  max-width: 25.5%;
  position: absolute;
  right: 0;
  top: 15.6%;
}

.system {
  bottom: 0;
  position: absolute;
}

.img-responsive.toucheffect {
  position: absolute;
  right: 30%;
  top: 23%;
}

.gamegif {
  height: 62.7%;
  left: 0;
  position: absolute;
  right: 0;
  top: 5.5%;
  width: 93%;
  border:0px solid #e8ebf0;
}

.acmonitor {
  background-color: #888888;
  height: 100%;
  left: 41.22%;
  max-width: 320px;
  position: absolute;
  width: 33.33%;
}

.lightoff {
  background-color: rgba(0, 0, 0, 0.95);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
}

.light_bulb {
  background-image: url('../img/rgb-3.png');
  height: 406px;
  left: 0;
  position: relative;
  top: -70px;
  width: 196px;
}

.row.sensor {
  background: url("../img/sensorBG.png") repeat-x scroll left top rgba(0, 0, 0, 0);
  float: left;
  padding-top: 50px;
  width: 100%;
  min-height:768px;
    z-index: 1095;
}
#sensor .col30p {
  padding-top: 205px;
}

.sensor .info h2 {
  color: #1b91a1;
  font-family: 'Quattrocento', serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.leftsection {
  bottom: 0;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  max-width: 395px;
  position: absolute;
  width: 41.14%;
}
#secBG {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.speaker {
  height: 102px;
  max-height: 52px;
  max-width: 102px;
  position: absolute;
  right: 0;
  top: 14.5%;
  width: 25.82%;
}

.middlesection {
  left: 41.14%;
  margin-left: 3.64%;
  max-width: 320px;
  position: absolute;
  width: 33.33%;
  height:100%;
}
#monitorblock {
  position: absolute;
  bottom: 0;
}
#ac-waves {
  background: url("../img/ac-air-wave-single.png") repeat scroll left top rgba(0, 0, 0, 0);
  display: block;
  float: left;
  height: 40px;
  left: 15%;
  position: absolute;
  top: 19%;
  width: 54%;
}
#secBGac {
  position: absolute;
  top: 5%;
}

.rightsection {
  float: right;
  max-width: 205px;
}

/* =Attachments section */

/* =====Animations Slides Ends=============================================*/


/* ===== Pages Starts============================================================*/

/* =About */

/* =team */

/* =Blog */

/* =Forum */

/* =Contact */

/* ===== Pages Ends============================================================*/


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
  *zoom: 1;
}


.Arduinoimgdiv {
  bottom: 50px;
  position: fixed;
  right: 10%;
  vertical-align: bottom;
}

.Arduinoimgdiv > img {
  width: 85%;
}

.Arduinoimgdiv1 {
  bottom: 0px;
  position: absolute;
  right: 10%;
  vertical-align: bottom;
}

.Arduinoimgdiv1 > img {
  width: 85%;
}

.ar3 {
  bottom: 44px;
  position: fixed;
  right: 10%;
}

.ar3 > img {
  width: 85%;
}

.ar3txt {
  bottom: 77px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  position: fixed;
  text-align: center;
  right: 12%;
  text-transform: uppercase;
  width: auto;
}

/* Contact us*/
.contactus {
  float: left;
  padding-top: 20px;
  width: 100%;
  padding-left: 30px;
}

form {
  color: #112f41 !important;
  font-family: 'Quattrocento', serif;
  font-size: 14px;
  padding-top: 2%;
}

input {
  border: 0 none;
}

form p {
  border-bottom: 1px solid #112f41;
  padding-bottom: 2px;
}

textarea {
  border: 0 none;
}

.submitbtn {
  background: url("../img/arrow-enter-button-for-sending-message.png") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
  margin-left: 3%;
  padding: 20px 21px 4px;
}

#contactform
{
  padding-top:10px;
}

#contactform > p {
  margin-bottom: 10px;
}

.contactform-head {
  margin-top: 8%;
}

.contactform-newsletter {
  margin-top: 20% !important;
}

.contactform-newsletter > p {
  color: #112f41;
  font-family: 'Quattrocento', serif;
  font-size: 15px;
  margin-top: 15px;
}

.newsletter > input {
  background: none repeat scroll 0 0 #112f41 !important;
  color: #fff !important;
  margin-bottom: 2%;
  padding: 10px !important;
  width: 370px;
}

.newsletter1 {
  background: none repeat scroll 0 0 #112f41 !important;
  margin-bottom: 0;
  padding: 9px 10px !important;
  width: 323px;
  color: #fff;
}

.submitbtn2 {
  background: url("../img/arrow-enter-button-for-sending-message.png") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
  height: 40px;
  margin-left: 0;
  width: 43px;
}

.newsletter > p {
  background: none repeat scroll 0 0 #112f41 !important;
  padding: 0;
  width: 370px;
  }

section {
  float: left;
  width: 100%;
}

.contactus .col-xs-5.col-sm-5.col-md-5.col-lg-5 {
  padding: 0;
}


/*---------------------------------------------------------------------------*/

.buttons {
    margin-bottom: 0px;
    text-align: left;
}
.buttons button {
        margin: 0;
    }
.buttons button {
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
}
.buttons button:focus {
    outline: none
}
@media all and (max-width: 860px) { 
  .buttons br {
      display: none
  }
  .buttons button {
      padding: 10px 20px
  }
}
nav.menu {
    position: fixed;
    z-index: 200;
  overflow:hidden;
    background-color: #112f41;
       -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

nav.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav.menu a {
    font-weight: 300;
    color: #fff;
}
button.close-menu {
    color: #fff;
}
button.close-menu:focus {
    outline: none
}
/* slide menu left and right, push menu left and right */
nav.slide-menu-left,
nav.slide-menu-right,
nav.push-menu-left,
nav.push-menu-right {
    top: 0;
    width: 300px;
    height: 100%;
}
nav.slide-menu-left li,
nav.slide-menu-right li,
nav.push-menu-left li,
nav.push-menu-right li {
    display: block;
    text-align: center;
   
}
nav.slide-menu-left li:first-child,
nav.slide-menu-right li:first-child,
nav.push-menu-left li:first-child,
nav.push-menu-right li:first-child {
    border-top: none
}
nav.slide-menu-left li:last-child,
nav.slide-menu-right li:last-child,
nav.push-menu-left li:last-child,
nav.push-menu-right li:last-child {
    border-bottom: none
}
nav.slide-menu-left a,
nav.slide-menu-right a,
nav.push-menu-left a,
nav.push-menu-right a {
    display: block;
    padding: 10px;
    font-size: 18px;
}
nav.slide-menu-left button.close-menu,
nav.slide-menu-right button.close-menu,
nav.push-menu-left button.close-menu,
nav.push-menu-right button.close-menu {
    margin: 10px 0;
    padding: 0px;
    
    color: #fff;
}
nav.push-menu-left li {
  border-bottom: none medium;
}
nav.slide-menu-left,
nav.push-menu-left {
    left: -300px
}
nav.slide-menu-right,
nav.push-menu-right {
    right: -300px
}
body.sml-open nav.slide-menu-left,
body.pml-open nav.push-menu-left {
    left: 0
}
body.smr-open nav.slide-menu-right,
body.pmr-open nav.push-menu-right {
    right: 0
}
body.pml-open #wrapper {
    left: 0px
}
body.pmr-open #wrapper {
    left: -300px
}
/* slide menu top and bottom */
nav.slide-menu-top,
nav.slide-menu-bottom,
nav.push-menu-top,
nav.push-menu-bottom {
    left: 0;
    width: 100%;
    height: 100px;
}
nav.slide-menu-top ul,
nav.slide-menu-bottom ul,
nav.push-menu-top ul,
nav.push-menu-bottom ul {
    text-align: center;
    padding: 25px 0 0 0;
}
nav.slide-menu-top li,
nav.slide-menu-bottom li,
nav.push-menu-top li,
nav.push-menu-bottom li {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}
nav.slide-menu-top a,
nav.slide-menu-bottom a,
nav.push-menu-top a,
nav.push-menu-bottom a {
    display: block;
    line-height: 50px;
    padding: 0 10px;
    font-size: 18px;
}
nav.slide-menu-top button.close-menu,
nav.slide-menu-bottom button.close-menu,
nav.push-menu-top button.close-menu,
nav.push-menu-bottom button.close-menu {
    display: block;
    line-height: 50px;
    margin: 0;
    padding: 0 0px;
}
nav.slide-menu-top,
nav.push-menu-top {
    top: -100px
}
nav.slide-menu-bottom,
nav.push-menu-bottom {
    bottom: -100px
}
body.smt-open nav.slide-menu-top,
body.pmt-open nav.push-menu-top {
    top: 0
}
body.smb-open nav.slide-menu-bottom,
body.pmb-open nav.push-menu-bottom {
    bottom: 0
}
body.pmt-open #wrapper {
    top: 100px
}
body.pmb-open #wrapper {
    top: -100px
}
nav.push-menu-left button.close-menu {

  margin-left: 80px !important;
  padding: 0 !important;
  border:0px;
}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Media Queries
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
@media all and (max-width: 860px) { 
  .buttons br {
      display: none
  }
  .buttons button {
      padding: 10px 20px
  }
}
@media all and (max-width: 660px) { 
  /* slide menu top and bottom */
  nav.slide-menu-top ul,
  nav.slide-menu-bottom ul,
  nav.push-menu-top ul,
  nav.push-menu-bottom ul {
      padding: 35px 0 0 0
  }
  nav.slide-menu-top a,
  nav.slide-menu-bottom a,
  nav.push-menu-top a,
  nav.push-menu-bottom a {
      line-height: 30px;
      padding: 0 2px;
      font-size: 12px;
  }
  nav.slide-menu-top button.close-menu,
  nav.slide-menu-bottom button.close-menu,
  nav.push-menu-top button.close-menu,
  nav.push-menu-bottom button.close-menu {
      line-height: 30px;
      padding: 0 2px;
  }
}
@media all and (max-width: 330px) { 
  nav.slide-menu-left,
  nav.slide-menu-right,
  nav.push-menu-left,
  nav.push-menu-right {
      top: 0;
      width: 100%;
  }
  nav.slide-menu-left,
  nav.push-menu-left {
      left: -100%
  }
  nav.slide-menu-right,
  nav.push-menu-right {
      right: -100%
  }
  body.sml-open nav.slide-menu-left,
  body.pml-open nav.push-menu-left {
      left: 0
  }
  body.smr-open nav.slide-menu-right,
  body.pmr-open nav.push-menu-right {
      right: 0
  }
  body.pml-open #wrapper {
      left: 100%
  }
  body.pmr-open #wrapper {
      left: -100%
  }
}

.nav-toggler.toggle-push-left > img {
  left: 0;
  position: relative !important;
}
.canvas {
  background-color: #fff;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 100;
}

.menu-top {
}
#menu-one {
  z-index: 1200;
}
.nav-toggler.toggle-slide-left, .toggle-slide-right, .toggle-slide-top,.toggle-slide-bottom, .toggle-push-right, .toggle-push-top, .toggle-push-bottom
 {
  display: none;
}
.buttons {
  float: left;
  position: absolute;
  width: auto;
  z-index: 9999;
  left: 0;
}
.buttons {
  background: url("../img/navbgtop.png") no-repeat scroll left top rgba(0, 0, 0, 0)!important;
  border-left: 7px solid #112f41 !important;
  display: block !important;
  height: 100% !important;
  width: 24px !important;
}
.buttons1 li {
  display: inline;
    list-style: outside none none;
  margin-bottom: 0;
  width: auto;
}
.nav-toggler.toggle-push-left > img {
  left: 0;
  position: relative !important;
}
.nav-toggler.toggle-push-left {
  border: 0 none !important;
  bottom: 7% !important;
  height: auto !important;
  left: 0 !important;
  padding: 0 !important;
  position: fixed !important;
}

.menu.push-menu-left img {
  vertical-align: text-top;
}
.menu ul li {
    border-top: 0 solid !important;
}
.menu ul li {
    list-style: outside url("../img/small-tah-icon-for-navigation-hover-position.png") disc;
    text-align: left !important;
}
.socialbtns {
  display: inline-flex;
}
.socialbtns > li {
  margin-left: 4%;
}
.share {
  background: url("../img/share-icon-normal-position.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 32px;
  margin-top: 20px;
  width: 81px;
  margin-top: 26px;
}
.share:hover {
  background: url("../img/share-icon-hover-position.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 32px;
  margin-top: 20px;
  width: 81px;
  margin-top: 26px;
}
.follow {
  background: url("../img/follow-button.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 32px;
  margin-top: 20px;
  width: 81px;
}
.follow:hover {
  background: url("../img/follow-icon-hover-position.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 32px;
  margin-top: 20px;
  width: 81px;
}
nav.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu ul {
  padding-left: 20px !important;
}
nav.menu a {
  color: #fff;
  font-weight: 300;
}
.menu.push-menu-left img {
  vertical-align: text-top;
}
nav.slide-menu-left a, nav.slide-menu-right a, nav.push-menu-left a, nav.push-menu-right a {
  display: block;
  font-size: 18px;
  padding: 10px;
}
.menu a {
  padding: 0 !important;
}
.rhc {
  color: #fff;
  padding: 40px 10px 20px 20px;
}
.rhc > img {
  padding-bottom: 11px;
  width: 35%;
}
.rhc > p {
  font-family: 'Quattrocento', serif;
  font-size: 14px;
  line-height: 19px;
}
.menu-top {
  color: #fff;
  font-family: 'Quattrocento', serif;
  font-size: 38px;
}
.menu-top > img {
  padding-left: 20px;
  padding-right: 2%;
  width:27%;
}
nav.menu {
  background-color: #112f41;
  position: fixed;
  transition: all 0.3s ease 0s;
}


.contactform-newsletter > p {
  color: #112f41;
  font-family: 'Quattrocento', serif;
  font-size: 16px;
}
.slide6div {
  
  top: 5%;
}
.indicates-required {
  font-size: 0;
}
.mc-field-group  input {
  background: none repeat scroll 0 0 #112f41 !important;
  border: 0 none;
  color: #cecece !important;
  font-family: 'Quattrocento', serif;
  font-size: 13px;
  margin-bottom: 2%;
  padding: 13px !important;
  width: 92%;
  border: 0 none !important;
}

.mc-field-group label {
  color: #000;
  font-family: 'Quattrocento', serif;
  font-size: 13px;
}
#mc-embedded-subscribe {
  background-attachment: scroll !important;
  background-clip: border-box !important;
  background-color: rgba(0, 0, 0, 0) !important;
  background-image: url("../img/arrow-enter-button-for-sending-message.png") !important;
  background-origin: padding-box !important;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% 100% !important;
  float: right!important;
  height: 39px;
  padding: 0 !important;
  width: 14%!important;
  margin-bottom:0px!important;
  border-radius: 0 !important;
    float: right !important;
    height: 42px !important;
  margin-right:0px !important;
}
#mce-EMAIL {
    width: 75%!important;
  margin-bottom:0px!important;
}
.emaildiv {
  background: none repeat scroll 0 0 #112f41;
  float: left;
  padding: 0;
  width: 100%;
}
.emaildiv input {
  display: inline-block !important;
}
#mc_embed_signup .mc-field-group input {
  display: block;
  padding: 8px 0;
  text-indent: 2%;
  width: 92%;
}
#mce-FNAME, #mce-LNAME {
  width: 92% !important;
}
.indicates-required {
  display: none !important;
}



 #menu-one span {
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../img/updated-tah-nav-normal-button.png");
  background-position: left top;
  background-repeat: no-repeat;
  float: left;
  height: 40px;
  width: 34px;
}
#menu-one span:hover {
  background-image: url("../img/updated-tah-nav-hover-button.png");
 }

#menu-one .contactmenuitem
{
background-color: rgba(0, 0, 0, 0);
  background-image: url("../img/2.png")!important;
  background-position: left top;
  background-repeat: no-repeat;
  float: left;
  height: 40px;
  width: 34px;
}
#menu-one .contactmenuitem:hover
{
background-color: rgba(0, 0, 0, 0);
  background-image: url("../img/1.png")!important;
  background-position: left top;
  background-repeat: no-repeat;
  float: left;
  height: 40px;
  width: 34px;
  }
.menu ul li {
  float: left;
    width: 100%;
}

@media only screen and (max-width:800px) and (min-width:300px)
{
.secbg
{
display:block!important;
}
#ac-waves {
  display: none;
}
#secBG{ 
  display: none;
}
}

.slide6div {
   float: none !important;
    left: 0 !important;
    margin: 0 auto !important;
    right: 0 !important;
    top: 5%;
    width: 50%;
}


